In [1]:
name= "shahzada munawer"
print(name.center(40))

            shahzada munawer

In [2]:
print(name.capitalize())

Shahzada munawer

In [3]:
print(name.casefold())

shahzada munawer

In [4]:
print(name.count("h"))

2

In [5]:
print(name.encode())

b'shahzada munawer'

In [6]:
print(name.endswith("shahzada"))

False

In [8]:
str = "xyz\t143388\tabc"
print(str)

print(str.expandtabs(20))

xyz	143388	abc
xyz                 143388              abc

In [9]:
print(name.find("a"))

2

In [11]:
address = "{}. Bahria university islamabad".format("address")
print(address)

address. Bahria university islamabad

In [12]:
name = "shahzada munawer"
print(name.index("munawer"))

9